.main-container {
  padding: 2rem;
}

.bloglist-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blogpost {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .blogpost .details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .blogpost .btn-container {
    display: flex;
    gap: 1rem;
  }