.main-container {
  padding: 2rem;
}

/* Blog list page */

.bloglist-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blogpost {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .blogpost .details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .blogpost .btn-container {
    display: flex;
    gap: 1rem;
  }

  .blogpost .description-container * {
    text-overflow: ellipsis;
    font-size: 1.25rem;
    font-weight: lighter;
  }

  /* Blog Post Edit Page */
  .edit-post-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

    .edit-post-page .input-field > * {
      width: 100%;
    }

    .edit-post-page img {
      width: 400px;
    }

    .edit-post-page .edit-options-container {
      display: flex;
      gap: 0.5rem;
    }